@import "~/.config/rofi/config.rasi" 

configuration {
  modi: "drun";
}

mainbox {
  children:
    [ "inputbar", "listview"];
}

entry {
  expand: true;
  placeholder: "🖼️  Choose Waybar Style";
}

listview {
  columns: 2;
  lines: 6;
}

